*{
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

#top{
  font-size: 50px;
  font-weight: normal;
  color: normal;
}

h2{
  color: white;
  font-weight: 300;
  font-size: 42px;
}

a{
  color: aquamarine;
  font-size: 16px;
}

#footer{
  color: gray;
  font-size: 21px;
}

#footer{
  text-align: right;
  color: gray;
  font-size: 21px;
}
